USE [master]
GO
/****** Object:  Database [EmpleadosDB]    Script Date: 8/24/2025 7:54:03 PM ******/
CREATE DATABASE [EmpleadosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpleadosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmpleadosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpleadosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmpleadosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpleadosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpleadosDB]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 8/24/2025 7:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[Salario] [money] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_FiltrarEmpleados]    Script Date: 8/24/2025 7:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_FiltrarEmpleados]
    @infiltro VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TranEmpezada BIT = 0;

    BEGIN TRY
        IF @@TRANCOUNT = 0
        BEGIN
            BEGIN TRANSACTION;
            SET @TranEmpezada = 1;
        END
        SELECT ID, Nombre, Salario FROM [dbo].[Empleado] E 
        WHERE E.Nombre LIKE '%' + @infiltro + '%';
        IF @TranEmpezada = 1
        BEGIN
            COMMIT TRANSACTION;
        END
    END TRY

    BEGIN CATCH
        IF @TranEmpezada = 1
        BEGIN
            ROLLBACK TRANSACTION;
        END
        SELECT
            500 AS codigo,
            'Error inesperado.' AS mensaje;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleado]    Script Date: 8/24/2025 7:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarEmpleado]
    @innombre VARCHAR(64),
    @insalario MONEY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TranEmpezada BIT = 0;

    BEGIN TRY
        IF @@TRANCOUNT = 0
        BEGIN
            BEGIN TRANSACTION;
            SET @TranEmpezada = 1;
        END

        IF NOT EXISTS (SELECT 1 FROM dbo.Empleado WHERE Nombre = @innombre)
        BEGIN
            INSERT INTO dbo.Empleado (Nombre, Salario)
            VALUES (@innombre, @insalario);
            IF @TranEmpezada = 1
            BEGIN
                COMMIT TRANSACTION;
            END
            SELECT
                200 AS codigo,
                'Empleado insertado exitosamente.' AS mensaje,
                @innombre AS nombre,
                @insalario AS salario;
        END
        ELSE
        BEGIN

            IF @TranEmpezada = 1
            BEGIN
                ROLLBACK TRANSACTION;
            END
            SELECT
                500 AS codigo,
                'El usuario ya existe.' AS error;
        END
    END TRY
    BEGIN CATCH
        IF @TranEmpezada = 1
        BEGIN
            ROLLBACK TRANSACTION;
        END
        SELECT
            500 AS codigo,
            'Error inesperado.' AS mensaje;
    END CATCH;
END;
GO
USE [master]
GO
